<div class="app">
  <start-page *ngIf="!renderService.started"></start-page>

  <div class="toolbar">
    <div class="header">
      <span>
        <i style="font-size: 20pt; margin-right: 5px;" class="zmdi zmdi-flight-takeoff"></i>
      </span>
      Flight Visualization WebGL
    </div>

  </div>

  <button  class="play-button" (click)="timeService.togglePlay()" md-fab>
    <span *ngIf="!(timeService.isPlayingObservable | async)">
      <i class="zmdi zmdi-play play-icon"></i>
    </span>
    <span *ngIf="(timeService.isPlayingObservable | async)">
      <i class="zmdi zmdi-pause play-icon"></i>
    </span>
  </button>

  <div class="time-slider-container">
    <div class="current-time-text">
      <span style="font-weight:400">
        <span>
          <i style="font-size: 16pt; margin-right: 2px;" class="zmdi zmdi-time"></i>
        </span>
        Current time&nbsp;
      </span>
      {{(timeService.realCurrentTime) | unixFormatter}}
    </div>
    <table width="100%" height="60px" style="background-color: rgba(255,255,255,0.02);">
      <td width="15%">
        <div class="time-limits-text">
          <span class="time-small-header ">Start time&nbsp;</span>
          {{timeService.startTimeObservable | async | unixFormatter:"YYYY-MM-DD"}}
        </div>
      </td>
      <td width="70%">
        <md-slider min="0" max="1" step="0.0000001" value="0.1" id="time-slider" #timeSlider></md-slider>
      </td>
      <td width="15%">
        <div class="time-limits-text">
          <span class="time-small-header ">End time&nbsp;</span>
          {{timeService.endTimeObservable | async | unixFormatter:"YYYY-MM-DD"}}
        </div>
      </td>
    </table>

  </div>
</div>

<div #renderContainer class="render-container"></div>
